.home{
  width:80%;
  margin: auto;
}

.accordion {
  margin: auto;
  .accordion-item {
    border-bottom: 1px solid #ccc;

    &.open {
      .accordion-title {
        background-color:#7ea0eb;
      }
    }
    .pg-text{
      margin-right: 10px;
    }

    .accordion-title {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
    }

    .accordion-content {
      background-color: #f4f4f4;
    }
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  // tr:nth-child(even) {
  //   background-color: #dddddd;
  // }
}

