.home{
  width:80%;
  margin: auto;
}

table{
  background: #36549a;
  color: #fff;
}

.accordion {
  margin: auto;
  .difficulty-Easy{
    color: #59db59;
    font-weight: bold;
  }
  .difficulty-Medium{
    color: orange;
    font-weight: bold;
  }
  .difficulty-Hard{
    color: red;
    font-weight: bold;
  }
  
  
  .accordion-item {
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    background: #0d1b48;
    // &.open {
    //   .accordion-title {
    //     background-color:#7ea0eb;
    //   }
    // }
    .pg-text{
      margin-right: 10px;
    }

    .accordion-title {
      padding: 10px;
      cursor: pointer;
      color: #fff;
    }
    

    .accordion-content {
      background-color: #f4f4f4;
    }
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  // tr:nth-child(even) {
  //   background-color: #dddddd;
  // }
}

